.cropped-image {
    position: absolute;
    top: -50px;
    left: -50px;
    width: 100px;
    height: 100px;
}
.image-container {
    position: relative;
    width: 30px;
    height: 30px;
    overflow: hidden;
}

